@font-face {
  font-family: "Tronica Mono";
  src: url("/fonts/Tronica Mono.woff");
}

*, a {
  font-family: "Tronica Mono", monospace;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: #f5d270; /* banana 200 */
}

a, a:visited {
  color: #e221a0;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Jersey 10", monospace;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

button {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  letter-spacing: 2px;
  white-space: nowrap;
}

p {
  line-height: 1.6;
}

@keyframes slide-in-left {
  0% {
    margin-left: 606px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-in-right {
  0% {
    margin-left: -606px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-out-left {
  0% {
    left: 0px;
  }
  100% {
    left: -606px;
  }
}

@keyframes slide-out-right {
  0% {
    left: 0px;
  }
  100% {
    left: 606px;
  }
}

/* box-shadow: 4px 4px #00000044; */

svg {
  width: 100%;
  height: 100%;
}

svg, rect, path {
  shape-rendering: crispEdges;
}