@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Regular.ttf");
}
@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Medium.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-MediumItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323-Regular.ttf");
}

* {
  font-family: "VT323", monospace;
  cursor: crosshair;
}

body {
  margin: 0;
  /* background: skyblue; */
  /* background: #cde; */
  /* background: #f8b431; banny yellow */
  /* background: #D98F02; */
}

a, a:visited {
  color: #e221a0;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

button {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  cursor: crosshair;
  letter-spacing: 2px;
  white-space: nowrap;
}

.shadow-inner-sm {
  box-shadow: inset 10px 10px 0px 10px #00000044;
}

@keyframes slide-in-left {
  0% {
    margin-left: 606px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-in-right {
  0% {
    margin-left: -606px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-out-left {
  0% {
    left: 0px;
  }
  100% {
    left: -606px;
  }
}

@keyframes slide-out-right {
  0% {
    left: 0px;
  }
  100% {
    left: 606px;
  }
}

/* box-shadow: 4px 4px #00000044; */

svg {
  width: 100%;
  height: 100%;
}